{{/*
* Copyright 2023 The Tour of WGSL Authors
*
* Use of this source code is governed by a BSD-style
* license that can be found in the LICENSE file or at
* https://developers.google.com/open-source/licenses/bsd
*/ -}}

<footer>
  <main>
    <div>
      &copy; 2023 Tour of WGSL
    </div>
    <div>
      <ul class="footer_links">
        <li>
          <a href="https://github.com/google/tour-of-wgsl">
            <img class='small-icon' src="{{.Site.BaseURL}}/third_party/icons/github/github-mark.svg">
            GitHub
          </a>
        </li>
        <li>
          <a href="https://github.com/google/tour-of-wgsl/edit/main/content/{{ .Page.File.Path }}">
            <img src="{{.Site.BaseURL}}/third_party/icons/material/pencil.svg">
            Edit this page
          </a>
        </li>
        <li>
          <a href="https://github.com/google/tour-of-wgsl/issues/new?body=Page:%20[{{.File.Path}}]({{.Permalink}})">
            <img src="{{.Site.BaseURL}}/third_party/icons/material/bug.svg">
            File an Issue
          </a>
        </li>
        <li>
          <a href="https://www.w3.org/TR/WGSL/">
            <img src="{{.Site.BaseURL}}/third_party/icons/material/info.svg">
            WGSL Spec
          </a>
        </li>
        <li>
          <a href="https://www.w3.org/TR/webgpu/">
            <img src="{{.Site.BaseURL}}/third_party/icons/material/info.svg">
            WebGPU Spec
          </a>
        </li>
      </ul>
    </div>
  </main>
</footer>
