{{/*
* Copyright 2023 The Tour of WGSL Authors
*
* Use of this source code is governed by a BSD-style
* license that can be found in the LICENSE file or at
* https://developers.google.com/open-source/licenses/bsd
*/ -}}

<footer>
  <main>
    <div>
      &copy; 2023 WGSL Tour
    </div>
    <div>
      <ul>
        <li><a href="https://github.com/google/tour-of-wgsl">GitHub</a></li>
        <li><a href="https://github.com/google/tour-of-wgsl/issues/new">File an Issue</a></li>
        <li><a href="https://www.w3.org/TR/WGSL/">WGSL Spec</a></li>
        <li><a href="https://www.w3.org/TR/webgpu/">WebGPU Spec</a></li>
      </ul>
    </div>
  </main>
</footer>
