{{/*
* Copyright 2023 The Tour of WGSL Authors
*
* Use of this source code is governed by a BSD-style
* license that can be found in the LICENSE file or at
* https://developers.google.com/open-source/licenses/bsd
*/ -}}

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <meta http-equiv="origin-trial"
    content="ApaY+uLs0pKNwx5fiXtUO8/jdLQlmgbf1OKGkN1SnYTEj69n6RmvnaTIo+ZAvd/Lk1N5ouhPIMWzkd3Rafgu3QoAAABQeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZS5naXRodWIuaW86NDQzIiwiZmVhdHVyZSI6IldlYkdQVSIsImV4cGlyeSI6MTY5MTcxMTk5OX0=" />

  {{ $options := (dict "vars" (dict "$base_url" .Site.BaseURL)) }}
  {{ $sass := resources.Get "sass/style.scss" }}
  {{ $style := $sass | resources.ToCSS $options | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  {{ $title := print .Title " | " .Site.Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>

  {{- partial "wgsl-tour.html" -}}
</head>
